<h1> Log In </h1><br>

<h3 style="color: red"><%= @errors %></h3>

    <br></br>

<form method="POST" action="/login">
    USERNAME: <input type="text" name="user[username]"require><br></br>
    PASSWORD: <input type="password" name="user[password]"><br></br>

    <br></br>

    <input type="submit" value="Log In">
</form>
<br></br>
<a href="/signup" style="text-decoration: none"><h3> No account?  Sign up! </h3></a>
<br> - OR - </br>
<a href="/companies" style="text-decoration: none"><h3> Continue as Guest </h3></a>