<h1> New User Sign Up </h1><br>

<form method="POST" action="/signup">
    USERNAME: <input type="text" name="user[username]" required><br>
    PASSWORD: <input type="password" name="user[password]"><br></br>
    <input type="submit" value="Sign Up">
</form>