<form action="/games" method="POST">
    <label for="games">
    Name: <input type="text" name="name">
    Release Year: <input type="integer" name="release_year">
    <input type="hidden" name="company_id" value="<%=@company.id%>" readonly>
  <br></br>
    <input type="submit" value="submit">
</form> 
<br></br>
<a href="/companies/<%=@company.id%>">Cancel</a>
