<form action="/games" method="POST">
    <label for="games">
    Name: <input type="text" name="name">
    Release Year: <input type="integer" name="release_year">
  <br></br>
    <input type="submit" value="submit">
</form> 