<div style="text-align: center">

<h1> Found that Game: </h1>

<h2>Name: <%= @game.name %></h2>
<h2>Release Year: <%= @game.release_year %></h2>

<a href="/games"><h2>Full List of Games</h2></a>


    </div>