

<h1> All Companies </h1>

<ul> <% @companies.each do |company| %>
    <li><a href="/companies/<%=company.id%>" style="text-decoration: none"><%= company.name %> </li>
    <% end %> </ul>

    <a href="/companies/new" style="text-decoration: none"><h3> Add New Company </h3></a>
