
<h1> All Companies </h1>

    <br></br>

<ul> <% @companies.each do |company| %>
    <li><p><a href="/companies/<%=company.id%>" style="text-decoration: none"><%= company.name %></p></li>
<% end %> </ul>

<a href="/companies/new" style="text-decoration: none"><h3> Add New Company </h3></a>
<a href="/companies/search" style="text-decoration: none"><h3> Search Company By Name </h3></a>
<a href="/games" style="text-decoration: none"><h3> View All Games </h3></a>

    <br></br>

<form method="post" action="/companies">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="DELETE ALL COMPANY RECORDS" id="deltron">
</form>

<br>
        <% if logged_in? %>
            <h3> You are logged in as: <%= current_user.username %></h3>
            <a href="/logout">Log Out</a>
            <% else %>
            <a href="/login">Log In</a>
        <% end %>
  