<form action="/companies/search" method="POST">
    <label for="search">
        Search Company By Name: <input type="text" name="name" style="text-transform: capitalize" required>
        <br></br>
    <input type="submit" value="submit">
  
</form> 

<br></br>

<a href="/companies"><h2>Full List of Companies</h2></a>