<div style="text-align: center">

<h1> Found that Company: </h1>

<h2>Name: <%= @company.name %></h2>
<h2>Location: <%= @company.location %></h2>
<h2>Founded: <%= @company.founded %></h2>

<a href="/companies/<%=@company.id%>/edit"><h2>Edit This Company</h2></a>
<a href="/companies"><h2>Full List of Companies</h2></a>


    </div>